<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.north.light.libdatesel">

    <application>
        <activity
            android:name=".ui.LibSelDateXActivity"
            android:theme="@style/AppNormal" />
        <activity
            android:name=".ui.LibSelDateActivity"
            android:theme="@style/AppTranslucent"/>
    </application>

</manifest>