<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.north.light.libdatesel">

    <application>
        <activity
            android:name=".v2.ui.LibDateXV2Activity"
            android:exported="false"
            android:theme="@style/DateAppTranslucent" />
        <activity
            android:name=".v2.ui.LibDateNormalV2Activity"
            android:exported="false"
            android:theme="@style/DateAppTranslucent" />
        <activity
            android:name=".v1.ui.LibSelDateActivity"
            android:launchMode="singleTask"
            android:theme="@style/DateAppTranslucent" />
        <activity
            android:name=".v1.ui.LibSelDateNormalActivity"
            android:launchMode="singleTask"
            android:theme="@style/DateAppTranslucent" />
        <activity
            android:name=".v1.ui.LibSelDateXActivity"
            android:launchMode="singleTask"
            android:theme="@style/DateAppTranslucent" />
    </application>

</manifest>